<!-- Détails de la consultation -->
<div *ngIf="selectedConsultation && !selectedPrescription" class="consultation-details">
    <h3>Consultation Details</h3>
    <p><strong>Date :</strong> {{ selectedConsultation.date_cons }}</p>
    <p><strong>Doctor :</strong> {{ selectedConsultation.medecin.first_name }}</p>
    <p><strong>Reason :</strong> {{ selectedConsultation.diagnostic }}</p>
    <p><strong>Summary :</strong> {{ selectedConsultation.resume }}</p>
  
    <h4>Prescriptions List:</h4>
    <ul>
      <li *ngFor="let prescription of selectedConsultation.prescriptions; let i = index">
        <p><strong>Prescription {{ i + 1 }} </strong>
          <span class="details-link" (click)="onSelectPrescription(prescription)">Détails</span>
        </p>
      </li>
    </ul>
    
    <button class="back-btn" (click)="onBackToConsultationList()">Retour à la liste des consultations</button>
  </div>
  