<div class="prescription-detail-container">
  <div *ngIf="selectedPrescription" class="prescription-detail">
      <!-- Première ligne : nom complet, âge, médecin et statut -->
      <div class="patient-header">
          <p><strong>Full Name:</strong> {{ patient.nom }} {{ patient.prenom }}</p>
          <p><strong>Age:</strong> {{ calculateAge(patient.date_naissance) }} years</p>
          <p><strong>Doctor:</strong> {{ selectedPrescription.medecin }}</p>
          <p><strong>Status:</strong> {{ selectedPrescription.valid ? 'Valid' : 'Expired' }}</p>
      </div>
      <h4>Medications List:</h4>
      <!-- Liste des médicaments -->
      <div *ngIf="selectedPrescription?.medicaments?.length > 0">
          <div *ngFor="let medicament of selectedPrescription.medicaments" class="medication-info">
              <div><strong>Médicament:</strong> {{ medicament.nom }}</div>
              <div><strong>Dose:</strong> {{ medicament.dosage }}</div>
              <div><strong>Durée:</strong> {{ medicament.duree }}</div>
          </div>
      </div>

      <!-- Bouton Back -->
      <button class="back-btn" (click)="onBackToConsultationList()">
          <img src="Photo\Vector (16).png" alt="Back Icon" />
          Download
      </button>
  </div>
</div>
