/* General styles */
* {
    box-sizing: border-box;
}

html, body {

    background-color: #DFDFDF;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    overflow: hidden;
}
.error-message {
    color: #305a66;
    font-size: 18px;
    font-weight: bold;
}
/* General styles for the patient information section */
.container {
    background-color: #DFDFDF;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    max-width:  -100vh;
    height: 100%;
    font-family: 'Geologica', sans-serif;
    border: 1px solid #558A8D;
    margin-right: 10px;
}

/* Main container for the content */
.main-container { 
    scroll-behavior: smooth;
    display: flex;
    min-width:  100vw;
    align-items: center;
    min-height: calc(var(--vh, 1vh) * 100);
    flex-direction: column;
    background-color:#DFDFDF;
    height: 100%;
    margin-right: 20px;
  
}
button {
    background-color: #305a66;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #9EBDBF;
}
.consultations_container {
    display: flex;
    justify-content: flex-start; /* Aligne le contenu à gauche */
    padding: 20px;
    margin-top: -50px; /* Ajustez ici pour déplacer toute la section */
    width: 100%;
    box-sizing: border-box;
    margin-left: 8%;
   
}
@media (max-width: 321px) {
    .consultations_container {
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .main-container{
        margin-right: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .consultations_container {
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .main-container{
        margin-right: 20px;
    }
    .container{
        max-width: -90vh;
        margin-right: 18px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .consultations_container {
        padding: 15px;
      
    }

  
}

@media (min-width: 769px) {
    .consultations_container {
        padding: 20px;
    
    }
}




