<!doctype html>
<html lang="en">
  <meta charset="UTF-8" />

  <body>
    <!-- Header -->
    <app-header></app-header>

    <!-- Main Content -->
    <div class="main-container">

        <!-- search.component -->
        <app-search-bar
            *ngIf="!showConsultationsList && !selectedConsultation && !showNursingCareList && !selectedNursingCare && !showMedicalHistory && !showCaresList" 
            (ssnEntered)="onSSNEntered($event)"></app-search-bar>

        <!-- Error Message -->
        <div *ngIf="errorMessage" class="error-message">
            <p>{{ errorMessage }}</p>
        </div>

        <div class="container"
            *ngIf="patient && !showConsultationsList && !selectedConsultation && !showNursingCareList && !selectedNursingCare && !showMedicalHistory && !showCaresList">
            <!-- Patient Info -->
            <app-patient-info [patient]="patient"></app-patient-info>

            <!-- Buttons -->
            <app-buttons-patient (toggleMedicalHistory)="toggleMedicalHistory()"
                (viewConsultations)="onViewConsultations()" (viewNursingCareList)="onViewNursingCareList()"
                (viewExamsResults)="onViewCares()">
            </app-buttons-patient>
        </div>

        <!-- Liste des consultations -->
        <div class="consultations_container">
            <app-consultation-list *ngIf="showConsultationsList" [consultations]="patient?.consultations"
                [selectedConsultation]="selectedConsultation" (consultationSelected)="selectConsultation($event)"
                (backToPatientInfo)="backToPatientInfoConsultation()">
            </app-consultation-list>
        </div>


        <!--Consultation détails -->

        <app-consultation-detail [selectedConsultation]="selectedConsultation"
            [selectedPrescription]="selectedPrescription" (backToConsultationList)="backToConsultationList()"
            (selectPrescription)="selectPrescription($event)">
        </app-consultation-detail>



        <!--- Prescription Detail  -->
        <app-prescriptions-detail [patient]="patient" [selectedPrescription]="selectedPrescription"
            (backToConsultationList)="backToConsultationList()">
        </app-prescriptions-detail>

        <!-- Liste et détail des Nursing -->
         <div class="consultations_container">
            <app-nursing [patient]="patient" [showNursingCareList]="showNursingCareList"
            [selectedNursingCareIndex]="selectedNursingCareIndex" [selectedNursingCare]="selectedNursingCare"
            (selectNursingCare)="selectNursingCare($event)" (backToPatientInfoNursing)=" backToPatientInfoNursing()"
            (backToNursingCareList)=" backToNursingCareList()">
        </app-nursing>
         </div>

        <!-- Affichage de l'historique médical -->
        <app-medical-history [patient]="patient" [showMedicalHistory]="showMedicalHistory"
            (backToPatientInfoMedicalHistory)="backToPatientInfoMedicalHistory()">
        </app-medical-history>

        <app-exams-list-patient *ngIf="showCaresList && patient && patient.previousCares" [cares]="patient?.previousCares"
            [selectedCare]="selectedCare" (consultationSelected)="selectConsultation1($event)"
            (backToPatientInfo)="backToPatientInfoConsultation1()">
        </app-exams-list-patient>

        <app-exam-detail-patient [selectedCare]="selectedCare"
            (backToConsultationList)="backToConsultationList1()">
        </app-exam-detail-patient>

    </div>
  </body>
</html>

