<!doctype html>
<html lang="en">
  <meta charset="UTF-8" />

  <body>
    <!-- Header -->
    <app-header></app-header>

    <!-- Main Content -->
    <div class="main-container">
      <!-- search.component -->
      <app-search-bar
        *ngIf="
          !showConsultationsList &&
          !selectedConsultation &&
          !showNursingCareList &&
          !selectedNursingCare &&
          !showMedicalHistory
        "
        (ssnEntered)="onSSNEntered($event)"
      >
      </app-search-bar>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <!-- Patient Information Section -->
      <div
        class="container"
        *ngIf="
          patient &&
          !showConsultationsList &&
          !selectedConsultation &&
          !showNursingCareList &&
          !selectedNursingCare &&
          !showMedicalHistory
        "
      >
        <!-- Patient Info -->
        <app-patient-info [patient]="patient"></app-patient-info>

        <!-- Buttons -->
        <app-buttons-patient
          (toggleMedicalHistory)="toggleMedicalHistory()"
          (viewConsultations)="onViewConsultations()"
          (viewNursingCareList)="onViewNursingCareList()"
          (viewExamsResults)="toggleMedicalHistory()"
        >
        </app-buttons-patient>
      </div>

      <!-- Consultations List -->
      <div class="consultations_container">
        <app-consultation-list
          *ngIf="showConsultationsList"
          [consultations]="consultations"
          [selectedConsultation]="selectedConsultation"
          (consultationSelected)="viewConsultationDetails($event)"
          (backToPatientInfo)="backToPatientInfoConsultation()"
        >
        </app-consultation-list>
      </div>

      <!-- Consultation Details -->
      <div *ngIf="selectedConsultation && !selectedPrescription">
        <h3>Consultation Details</h3>
        <p><strong>Doctor:</strong> {{ selectedConsultation.medecin }}</p>
        <p><strong>Date:</strong> {{ selectedConsultation.date_cons }}</p>
        <p><strong>Diagnosis:</strong> {{ selectedConsultation.diagnostic }}</p>
        <p><strong>Resume:</strong> {{ selectedConsultation.resume }}</p>
        <button (click)="backToConsultationList()">
          Back to Consultations
        </button>
        <button (click)="viewOrdonnanceDetails(selectedConsultation.id)">
          View Prescription
        </button>
      </div>

      <!-- Prescription Details -->
      <div *ngIf="selectedPrescription">
        <h3>Prescription Details</h3>
        <p><strong>Date:</strong> {{ selectedPrescription.date }}</p>
        <ul>
          <li *ngFor="let med of selectedPrescription.medications">
            {{ med.name }} - {{ med.dosage }} - {{ med.duration }}
          </li>
        </ul>
        <button (click)="backToConsultationList()">Back to Consultation</button>
      </div>

      <!-- Liste et détail des Nursing -->
      <div class="consultations_container">
        <app-nursing
          [patient]="patient"
          [showNursingCareList]="showNursingCareList"
          [selectedNursingCareIndex]="selectedNursingCareIndex"
          [selectedNursingCare]="selectedNursingCare"
          (selectNursingCare)="selectNursingCare($event)"
          (backToPatientInfoNursing)="backToPatientInfoNursing()"
          (backToNursingCareList)="backToNursingCareList()"
        >
        </app-nursing>
      </div>

      <!-- Medical History -->
      <app-medical-history
        [patient]="patient"
        [showMedicalHistory]="showMedicalHistory"
        (backToPatientInfoMedicalHistory)="backToPatientInfoMedicalHistory()"
      >
      </app-medical-history>
    </div>
  </body>
</html>

