<div class="patient-buttons-container">
    <!-- Bouton pour l'historique médical -->
    <div class="patient-button" (click)="onToggleMedicalHistory()">
        <img src="Photo/Vector (9).png" alt="Medical History" />
        <span>Medical History</span>
    </div>

    <!-- Bouton pour les consultations -->
    <div class="patient-button" (click)="onViewConsultations()">
        <img src="Photo/Vector (14).png" alt="Consultations" />
        <span>Consultations</span>
    </div>

    <!-- Bouton pour les résultats des examens -->
    <div class="patient-button" >
        <img src="Photo/Vector (11).png" alt="Exams Results" />
        <span>Exams results</span>
    </div>

    <!-- Bouton pour les soins infirmiers -->
    <div class="patient-button" (click)="onViewNursingCareList()">
        <img src="Photo\Vector (15).png" alt="Nursing Care" />
        <span>Nursing</span>
    </div>
</div>
