<!DOCTYPE html>
<html>

<div class="main-container">
    <div class="container1">
        <header class="header1">
            <div class="logo-container1">
                <img src="Photo/doctor-consultation 2.png" class="logo1" />
                <span class="company-name">Sehhatna</span>
            </div>
            <div class="link">
                <a class="dpi">DPI</a>
                <span class="usres">Useres</span>

            </div>
            <div class="logout-container">
                <button class="logout-btn" routerLink="/home">Logout</button>
            </div>
        </header>

        <div class="user-form">
            <div class="icon">
                <img src="Photo\Group 20.png" alt="Add User Icon" />
            </div>
            <h2>Create New DPI</h2>
            <form class="F1" (ngSubmit)="onSubmit()">
                <!-- Username Field -->
                <input type="text" id="nom" [(ngModel)]="user.nom" name="nom"
                    placeholder="First Name" />
                <p *ngIf="isSubmitted && !user.nom" class="error-text">This field is required.</p>

                <!-- Family Name Field -->
                <input type="text" id="prenom" [(ngModel)]="user.prenom" name="prenom"
                    placeholder="Family Name" />
                <p *ngIf="isSubmitted && !user.prenom" class="error-text">This field is required.</p>


                <!-- Date of Birth Field -->
                <input type="date" id="date_naissance" [(ngModel)]="user.date_naissance" name="date_naissance" placeholder="Date of Birth" />
                <p *ngIf="isSubmitted && !user.date_naissance" class="error-text">This field is required.</p>

                <!-- Social Security Number Field -->
                <input type="text" id="nss" [(ngModel)]="user.nss" name="nss" placeholder="Social Security Number" />
                <p *ngIf="isSubmitted && !user.nss" class="error-text">This field is required.</p>
                <p *ngIf="isSubmitted && user.nss && !nssRegex.test(user.nss)" class="error-text">
                    Please enter a valid 15-digit Social Security Number.
                </p>
                <!-- Phone Number Field -->
                <input type="tel" id="telephone" [(ngModel)]="user.telephone" name="telephone"
                    placeholder="Phone Number" pattern="^\+?[1-9]\d{1,14}$" />
                <p *ngIf="isSubmitted && !user.telephone" class="error-text">This field is required.</p>
                <p *ngIf="isSubmitted && user.telephone && !phoneRegex.test(user.telephone)" class="error-text">
                    Please enter a valid Algerian phone number.
                </p>

                <!-- Address Field -->
                <input type="text" id="adresse" [(ngModel)]="user.adresse" name="adresse" placeholder="adresse" />
                <p *ngIf="isSubmitted && !user.adresse" class="error-text">This field is required.</p>

                <!-- Emergency Contact Phone Number Field -->
                <input type="tel" id="num_pers_contact" [(ngModel)]="user.num_pers_contact" name="num_pers_contact"
                    placeholder="Emergency Contact (Phone Number)" />
                <p *ngIf="isSubmitted && !user.num_pers_contact" class="error-text">This field is required.</p>
                <p *ngIf="isSubmitted && user.num_pers_contact && !phoneRegex.test(user.num_pers_contact)"
                    class="error-text">
                    Please enter a valid Algerian phone number.
                </p>


                <!-- Care Physician Field -->
                <input type="text" id="medecin_traitant" [(ngModel)]="user.medecin_traitant" name="medecin_traitant"
                    placeholder="Care Physician" />
                <p *ngIf="isSubmitted && !user.medecin_traitant" class="error-text">This field is required.</p>



                <button type="submit" >Create</button>
            </form>
        </div>

    </div>
</div>


</html>