<h1 class="page-title" *ngIf="!showAddPrescription">Add new consultation</h1>
<div class="Card" *ngIf="!showAddPrescription">
    <div class="cardtext">
        <span>New Consultation</span>
    </div>
    <div class="careproprities">
        <div class="input-Date">
            <input type="date" id="date-input" placeholder="Date" [(ngModel)]="date">
        </div>
        <div class="input-Time">
            <input type="text" id="time-input" placeholder="Doctor name" [(ngModel)]="doctor">
        </div>
        <div class="input-Time">
            <input type="text" id="time-input" placeholder="Patient name" [(ngModel)]="patient">
        </div>
        <div class="input-type">
            <input type="text" id="type-input" placeholder="Reason" [(ngModel)]="reason">
        </div>
        <div class="input-description">
            <textarea type="text" id="description-input" placeholder="Summary" [(ngModel)]="summary"></textarea>
        </div>
        <button class="add-btn" (click)="togglePrescriptionVisibility()">
          <img src="Photo\Group 39.png" alt=""> Add Prescriptions
        </button>
    </div>
    <div class="buttons">
        <button class="cancel-btn" (click)="addConsultation()"> Cancel</button>
        <button class="create-btn" (click)="addConsultation()">Submit</button>
    </div>
</div>
<div class="consultations_container">
    <app-medecin-add-new-prescription *ngIf="showAddPrescription" [consultationId]="consultationId" (togglePrescriptionVisibility)="togglePrescriptionVisibility()">
    </app-medecin-add-new-prescription>
</div>
