<!-- src/app/medecin-add-new-consultation/medecin-add-new-consultation.component.html -->
<h1 class="page-title" *ngIf="!showAddPrescription">Add new consultation</h1>
<div class="Card" *ngIf="!showAddPrescription">
    <div class="cardtext">
        <span>New Consultation</span>
    </div>
    <div class="careproprities">
        <div class="input-Date">
            <input type="date" id="date-input" placeholder="Date">
        </div>
        <div class="input-Time">
            <input type="text" id="time-input" placeholder="Doctor name">
        </div>
        <div class="input-type">
            <input type="text" id="type-input" placeholder="Reason">
        </div>
        <div class="input-description">
            <textarea type="text" id="description-input" placeholder="Summary"></textarea>
        </div>
        <button class="add-btn" (click)="togglePrescriptionVisibility()">
          <img src="Photo\Group 39.png" alt=""> Add Prescriptions
        </button>
    </div>
    <button class="create-btn">Submit</button>
</div>
<div class="consultations_container">
    <app-medecin-add-new-prescription *ngIf="showAddPrescription">
    </app-medecin-add-new-prescription>
</div>
