<!-- Détails de la consultation -->
<div  class="consultation-details">
    <h3>Consultation Details</h3>
    <p><strong>Laborantin Name :</strong> here fetch from backend</p>
    <p><strong>Exam Date :</strong>same </p>
    <p><strong>Exam Type :</strong></p>
    <p><strong>Exam Result :</strong> </p>
    <p><strong>Observations :</strong> </p>
    <canvas id="myChart" width="400" height="200"></canvas>

    <button class="download-btn" (click)="download()">Download</button>
    <button class="back-btn" (click)="onBackToConsultationList()">Retour à la liste des consultations</button>
  </div>
  