<div class="patient-info-container">
    <div class="patient-info-row name-group">
      <div class="info-group">
        <label>First Name:</label>
        <span>{{ patient.firstName }}</span>
      </div>
      <div class="info-group">
        <label>Family Name:</label>
        <span>{{ patient.lastName }}</span>
      </div>
    </div>
    <div class="patient-info-row">
      <div class="info-group">
        <label>Address:</label>
        <span>{{ patient.address }}</span>
      </div>
      <div class="info-group">
        <label>Phone Number:</label>
        <span>{{ patient.phoneNumber }}</span>
      </div>
    </div>
    <div class="patient-info-row">
      <div class="info-group">
        <label>Date of Birth:</label>
        <span>{{ patient.dob }}</span>
      </div>
      <div class="info-group">
        <label>Emergency Contact:</label>
        <span>{{ patient.emergencyContact }}</span>
      </div>
    </div>
    <div class="patient-info-row">
      <div class="info-group">
        <label>Social Security Number:</label>
        <span>{{ patient.ssn }}</span>
      </div>
      <div class="info-group">
        <label>Care Physician:</label>
        <span>{{ patient.carePhysician }}</span>
      </div>
    </div>
</div>
