<div class="Card">
    <div class="cardtext">
        <span>New Test</span>
    </div>
    <div class="careproprities">
        <div class="input-Date">
            <textarea type="text" id="description-input" placeholder="Laborantin name" [(ngModel)]="name"></textarea>
          
        </div>
        <div class="input-Time">
            <textarea type="text" id="description-input" placeholder="Date of the exam" [(ngModel)]="date"></textarea>
        </div>
        <div class="input-type">
            <select id="type-input" [(ngModel)]="typecare">
                <option value="" disabled selected>Select type of exam</option>
                <option value="CHOLESTEROL">cholesterol</option>
                <option value="IRON">Iron</option>
                <option value="HYPERTENSION">Hypertension</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <div class="input-description">
            <textarea type="text" id="description-input2" placeholder="Result ( level in mg/dL )"  [(ngModel)]="value1"></textarea>
        </div>
        <div class="input-observation">
            <textarea type="text" id="observation-input" placeholder="Observations"  [(ngModel)]="observation"></textarea>
        </div>
    </div>
    <button class="addgraph-btn" (click)="AddGraph()">Add Graph</button>
    <canvas id="myChart" width="400" height="200"></canvas>
    <button class="create-btn" (click)="addBilanBiologique()">Create</button>
    </div>