/* You can add global styles to this file, and also import other style files */
body {
    background-color: #DFDFDF;  /* Set your desired background color */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in element's width/height */
  }