.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: 520px;
    background: #558A8D;
    border-radius: 15px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 48px;
    margin-top: 30px;
    }
    .cardtext{
    width: 149px;
    height: 40px;
    font-family: 'Geologica',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #DFDFDF;
    }
    .careproprities{
        display: flex;
        flex-direction: column;
        width: 391px;
        gap: 8px;
        margin-top: 50px;
    }
    input[type="text"]::placeholder {
        width: 36px;
        height: 20px;
        font-family: 'Geologica';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #558A8D;
    }
    input[type="text"]{
            padding-left: 15px;
            padding-right: 15px;
    }
    textarea{
        padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
    }
    textarea::placeholder{
        width: 36px;
        height: 20px;
        font-family: 'Geologica';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #558A8D;
        white-space: nowrap; 
    }
    .input-Date{
        width: 100%;
        height: 32px;
        background: #DFDFDF;
        border-radius: 8px;
    }
    #date-input{
        width: 100%;
        height: 100%;
        background: #DFDFDF;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .input-Time{
        width: 100%;
        height: 32px;
        background: #DFDFDF;
        border-radius: 8px;
    }
    #time-input{
        width: 100%;
        height: 100%;
        background: #DFDFDF;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .input-type{
        width: 100%;
        height: 32px;
        background: #DFDFDF;
        border-radius: 8px;
    }
    #type-input{
        width: 100%;
        height: 100%;
        background: #DFDFDF;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .input-description{
    width: 100%;
    height: 87px;
    background: #DFDFDF;
    border-radius: 8px;
    }
    #description-input{
        width: 100%;
        height: 100%;
        background: #DFDFDF;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .input-observation{
        width: 100%;
        height: 87px;
        background: #DFDFDF;
        border-radius: 8px;
    }
    #observation-input{
        width: 100%;
        height: 100%;
        background: #DFDFDF;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .create-btn{
    width: 131px;
    height: 25px;
    background: #D9D9D9;
    border-radius: 8px;
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #558A8D;
    border: none;
    margin-top: 30px;
    }