<!doctype html>
<html>
  <body>
    <!-- Header -->
    <app-header></app-header>

    <!-- Main Content -->
    <div class="main-container">
      <!-- Composant de recherche -->
      <app-search-bar
        *ngIf="
          !showConsultationsList &&
          !selectedConsultation &&
          !showNursingCareList &&
          !selectedNursingCare &&
          !showMedicalHistory
        "
        (ssnEntered)="onnssEntered($event)"
      >
      </app-search-bar>

      <!-- Error Message -->
      <div *ngIf="error" class="error-message">
        <p>{{ error }}</p>
      </div>

      <!-- Patient Info and Actions -->
      <div
        class="container"
        *ngIf="
          patient &&
          !showConsultationsList &&
          !selectedConsultation &&
          !showNursingCareList &&
          !selectedNursingCare &&
          !showMedicalHistory
        "
      >
        <!-- Patient Info -->
        <app-patient-info [patient]="patient"></app-patient-info>

        <!-- Buttons for actions -->
        <div class="button-container">
          <!-- Show consultations -->
          <div class="single-button" (click)="onViewConsultations()">
            <img src="Photo\Vector (17).png" alt="Consultations Icon" />
            <span>Show Consultations</span>
          </div>

          <!-- Show prescriptions -->
          <div class="single-button" (click)="onViewPrescriptions()">
            <img src="Photo\Vector (18).png" alt="Prescriptions Icon" />
            <span>Show Prescriptions</span>
          </div>
        </div>
      </div>

      <!-- List of Consultations -->
      <div class="consultations_container">
        <app-consultation-list
          *ngIf="showConsultationsList"
          [consultations]="patient?.consultations"
          [selectedConsultation]="selectedConsultation"
          (consultationSelected)="selectConsultation($event)"
          (backToPatientInfo)="backToPatientInfoConsultation()"
        >
        </app-consultation-list>
      </div>

      <!-- Consultation Details -->
      <app-consultation-detail
        [selectedConsultation]="selectedConsultation"
        [selectedPrescription]="selectedPrescription"
        (backToConsultationList)="backToConsultationList()"
        (selectPrescription)="selectPrescription($event)"
      >
      </app-consultation-detail>

      <!-- List of Prescriptions -->
      <div *ngIf="showPrescriptionsList" class="prescriptions-container">
        <h3>Prescriptions:</h3>
        <ul>
          <li
            *ngFor="let prescription of prescriptions"
            (click)="onSelectPrescription(prescription)"
          >
            {{ prescription.name }} - {{ prescription.dose }} -
            {{ prescription.duration }}
          </li>
        </ul>
        <button class="back-button" (click)="handleBackToList()">
          Back to List
        </button>
      </div>

      <!-- Prescription Details -->
      <app-prescription-detail-pharmacien
        [patient]="patient"
        [selectedPrescription]="selectedPrescription"
        (backToConsultationList)="backToConsultationList()"
      >
      </app-prescription-detail-pharmacien>
    </div>
  </body>
</html>

