<div *ngIf="selectedCare " class="consultation-details">
    <h3>Exam Request Details</h3>
    <p><strong>Test Type :</strong> {{ selectedCare.type }}</p>
    <p><strong>Sub-Type :</strong> {{ selectedCare.body_part }}</p>
    <p><strong>Priority :</strong> {{ selectedCare.priority }}</p>
    <p><strong>Medical Justification :</strong> {{ selectedCare.reason }}</p>
    <p><strong>Desired date :</strong> {{ selectedCare.date }}</p>
    <p><strong>Doctor name :</strong> {{ selectedCare.dname }}</p>
    <button class="back-btn" (click)="onBackToConsultationList()">Retour à la liste des consultations</button>
</div>