<div class="Card">
<div class="cardtext">
    <span>New Care</span>
</div>
<div class="careproprities">
    <div class="input-Date">
        <input type="text" id="date-input" placeholder="Date">
    </div>
    <div class="input-Time">
        <input type="text" id="time-input" placeholder="Time">
    </div>
    <div class="input-type">
        <input type="text" id="type-input" placeholder="Type of care">
    </div>
    <div class="input-description">
        <textarea type="text" id="description-input" placeholder="Description"></textarea>
    </div>
    <div class="input-observation">
        <textarea type="text" id="observation-input" placeholder="Observations"></textarea>
    </div>
</div>
<button class="create-btn">Create</button>
</div>
