<div *ngIf="cares?.length && !selectedCare" class="consultation-list">
    <h3>Previous Care</h3>
    <ul *ngFor="let care of cares; let i = index">
        <li 
            (click)="selectConsultation(care)">
            <img src="Photo/Group (3).png" alt="Consultation" class="consultation-icon">
            <span>Care {{ i + 1 }}</span>
          
           
        </li>
        <div class="separator" *ngIf="i !== cares.length - 1"></div>
    </ul>
    <button class="back-btn" (click)="backToPatientInfoConsultation()">Back to Informations</button>
</div>
