.consultation-list {
    background-color:#DFDFDF; /* Background color */
    padding: 0px;
    border-radius: 15px;
    width: 100%;
    width: 700px;
    font-family: 'Geologica', sans-serif;
    margin-left: -420px;
    height: 100%;
    margin-top: 80px;
  
}

/* Consultation List Styling */
.consultation-list h3 {
    font-size: 24px;
    color: #558A8D;
    margin-bottom: 20px;
    text-align: left;
}

/* Consultation List */
.consultation-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column ; /* Dispose les éléments les uns sous les autres */
    gap: 10px; /* Espace entre les éléments */
}

/* Consultation List Items */
.consultation-list li {
    display: flex; /* Aligns the image and text horizontally */
    align-items: center; /* Vertically centers the image and text */
    gap: 10px; /* Space between image and text */
    padding: 10px;
    background-color: #DFDFDF;
    font-size: 12px;
    color: #0B2025;
    cursor: pointer;
    transition: background-color 0.3s, border-left 0.3s;
    width: auto; /* Adjust width to fit content */
    position: relative;
    border-radius: 10px; /* Optional: to round the corners */
    max-width: 150px; /* Adjust to your preferred item width */
   
}

/* Hover Effect for Consultation List Items */
.consultation-list li:hover {
    background-color: #9EBDBF;
    border-left: 5px solid #558A8D;
}

/* Consultation Icon */
.consultation-icon {
    width: 40px; /* Icon size */
    height: 20px;
    object-fit: contain; /* Adjusts the image */
    margin-left: -10px;
}

/* Text for consultations */
.consultation-list li span {
    font-family: 'Geologica', sans-serif;
    font-weight: bold; /* Bold text */
    color: #305a66; /* Text color */
    font-size: 15px; /* Text size */
    text-transform: capitalize; /* Capitalize each word */
    white-space: nowrap;
}

/* Selected Consultation Item Styling */
.consultation-list li.selected {
    background-color: #9EBDBF;
    border-left: 17px solid #558A8D;
}

/* Style for the Back Button */
.back-btn {
    background-color: #558A8D;
    color: #DFDFDF;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #305a66;
}
.separator {
    width: 100%; /* Prend toute la largeur */
    height: 1px; /* Épaisseur de la ligne */
    background-color: #558A8D; /* Couleur de la ligne */
    margin: 5px; /* Espace autour de la ligne */
    display: block;
}
